<ul class="pub-list">
<li><strong>Tripathy, Somanath 24 Vishwanathan, Roopa 28 Vlad, Eduard 49</strong><br>
Wehrle, Klaus, Chaudhary, Priyanka Rushikesh, Choudhary, Pratyush, Christopher, Jabez, Das, Prasuj, Das, Sanchari, Das, Subhrajit, Denipitiyage, Dishanika, Fatima, Muskan, Islam, Salekul, others. <em></em>, .</li>
<li><strong>Collaborative Learning Based Effective</strong><br>
Singh, Narendra, Kasyap, Harsh, Tripathy, Somanath. <em>ECML PKDD 2020 Workshops: Workshops of the European Conference on Machine Learning and Knowledge Discovery in Databases (ECML PKDD 2020): SoGood 2020, PDFL 2020, MLCS 2020, NFMCP 2020, DINA 2020, EDML 2020, XKDD 2020 and INRA 2020, Ghent, Belgium, September 14--18, 2020, Proceedings</em>, 2021.</li>
<li><strong>Collaborative learning based effective malware detection system</strong><br>
Singh, Narendra, Kasyap, Harsh, Tripathy, Somanath. <em>ECML PKDD 2020 Workshops: Workshops of the European Conference on Machine Learning and Knowledge Discovery in Databases (ECML PKDD 2020): SoGood 2020, PDFL 2020, MLCS 2020, NFMCP 2020, DINA 2020, EDML 2020, XKDD 2020 and INRA 2020, Ghent, Belgium, September 14--18, 2020, Proceedings</em>, 2020.</li>
<li><strong>BuildSEC 2024</strong><br>
Silva, Bhanuka, Denipitiyage, Dishanika, Seneviratne, Suranga, Mahanti, Anirban, Rinwa, Nemichand, Kasyap, Harsh, Tripathy, Somanath, Kolachala, Kartick, Ababneh, Mohammed. <em></em>, .</li>
<li><strong>PassMon: a Technique for Password Generation and Strength Estimation</strong><br>
Sanjay, Murmu, Harsh, Kasyap, Somanath, Tripathy. <em>Journal of Network and Systems Management</em>, 2022.</li>
<li><strong>Patch-based Adversarial Attack against DNNs</strong><br>
Rinwa, Nemichand, Kasyap, Harsh, Tripathy, Somanath. <em>2024 Conference on Building a Secure \& Empowered Cyberspace (BuildSEC)</em>, 2024.</li>
<li><strong>PassMon: a technique for password generation and strength estimation</strong><br>
Murmu, Sanjay, Kasyap, Harsh, Tripathy, Somanath. <em>Journal of Network and Systems Management</em>, 2022.</li>
<li><strong>MILSA: Model interpretation based label sniffing attack in federated learning</strong><br>
Manna, Debasmita, Kasyap, Harsh, Tripathy, Somanath. <em>International Conference on Information Systems Security</em>, 2022.</li>
<li><strong>Moat: Model agnostic defense against targeted poisoning attacks in federated learning</strong><br>
Manna, Arpan, Kasyap, Harsh, Tripathy, Somanath. <em>Information and Communications Security: 23rd International Conference, ICICS 2021, Chongqing, China, November 19-21, 2021, Proceedings, Part I 23</em>, 2021.</li>
<li><strong>DNet: An efficient privacy-preserving distributed learning framework for healthcare systems</strong><br>
Kulkarni, Parth Parag, Kasyap, Harsh, Tripathy, Somanath. <em>Distributed Computing and Internet Technology: 17th International Conference, ICDCIT 2021, Bhubaneswar, India, January 7--10, 2021, Proceedings 17</em>, 2021.</li>
<li><strong>DNet: An Efficient Privacy-Preserving</strong><br>
Kulkarni, Parth Parag, Kasyap, Harsh, Tripathy, Somanath. <em>Distributed Computing and Internet Technology: 17th International Conference, ICDCIT 2021, Bhubaneswar, India, January 7--10, 2021, Proceedings</em>, 2020.</li>
<li><strong>Sine: Similarity is not enough for mitigating local model poisoning attacks in federated learning</strong><br>
Kasyap, Harsh, Tripathy, Somanath. <em>IEEE Transactions on Dependable and Secure Computing</em>, 2024.</li>
<li><strong>Private and Secure Fuzzy Name Matching</strong><br>
Kasyap, Harsh, Ilker Atmaca, Ugur, Maple, Carsten, Cormode, Graham, He, Jiancong. <em>arXiv e-prints</em>, 2024.</li>
<li><strong>Privacy-preserving and byzantine-robust federated learning framework using permissioned blockchain</strong><br>
Kasyap, Harsh, Tripathy, Somanath. <em>Expert Systems with Applications</em>, 2024.</li>
<li><strong>Mitigating Bias: Model Pruning for Enhanced Model Fairness and Efficiency</strong><br>
Kasyap, Harsh, Atmaca, Ugur, Iezzi, Michela, Walsh, Toby, Maple, Carsten. <em>27th European Conference on Artificial Intelligence (ECAI 2024),19-24 October 2024, Santiago de Compostela, Spain</em>, 2024.</li>
<li><strong>Privacy-preserving Fuzzy Name Matching for Sharing Financial Intelligence</strong><br>
Kasyap, Harsh, Atmaca, Ugur Ilker, Maple, Carsten, Cormode, Graham, He, Jiancong. <em>arXiv preprint arXiv:2407.19979</em>, 2024.</li>
<li><strong>Privacy-preserving personalised federated learning financial fraud detection</strong><br>
Kasyap, Harsh, Atmaca, Ugur Ilker, Maple, Carsten. <em>International Conference on AI and the Digital Economy (CADE 2024)</em>, 2024.</li>
<li><strong>Beyond data poisoning in federated learning</strong><br>
Kasyap, Harsh, Tripathy, Somanath. <em>Expert Systems with Applications</em>, 2024.</li>
<li><strong>Privacy-Preserving Federated Learning Framework using Permissioned Blockchain</strong><br>
Kasyap, Harsh, Tripathy, Somanath. <em></em>, 2023.</li>
<li><strong>HDFL: Private and Robust Federated Learning using Hyperdimensional Computing</strong><br>
Kasyap, Harsh, Tripathy, Somanath, Conti, Mauro. <em>2023 IEEE 22nd International Conference on Trust, Security and Privacy in Computing and Communications (TrustCom)</em>, 2023.</li>
<li><strong>Hidden vulnerabilities in cosine similarity based poisoning defense</strong><br>
Kasyap, Harsh, Tripathy, Somanath. <em>2022 56th Annual Conference on Information Sciences and Systems (CISS)</em>, 2022.</li>
<li><strong>An efficient blockchain assisted reputation aware decentralized federated learning framework</strong><br>
Kasyap, Harsh, Manna, Arpan, Tripathy, Somanath. <em>IEEE Transactions on Network and Service Management</em>, 2022.</li>
<li><strong>Privacy-preserving decentralized learning framework for healthcare system</strong><br>
Kasyap, Harsh, Tripathy, Somanath. <em>ACM Transactions on Multimedia Computing, Communications, and Applications (TOMM)</em>, 2021.</li>
</ul>
